[Unit]
Description=Service that runs the EagleSat Telemetry and Telecommand System (ESTTS)
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
LimitNOFILE=16384
ExecStart=/usr/bin/estts
ExecReload=/bin/kill -HUP $MAINPID
LimitCORE=infinity
Restart=always
StandardOutput=file:/opt/estts/log/estts_errors.log
StandardError=journal

[Install]
WantedBy=multi-user.target